.ChessBord-main {
  background-color: black;
  width: 600px;
  height: 600px;
}
.first-line {
  display: flex;
}
.white-block {
  background-color: rgb(232, 232, 232);
  width: 75px;
  height: 75px;
}
.balck-block {
  background-color: rgb(53, 133, 67);
  width: 75px;
  height: 75px;
}
